body {
    padding: 0;
    margin: 0;
}

button {
    padding: 15px;
    width: 220px;
    font-size: 60px;
    border-radius: 12px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container,
.display-container,
.bottom-container {
    display: flex;
}

.calculator-container {
    background-color: aqua;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: column;
    border: solid 1px black;
    height: 75vh;
    width: 1000px;
}

.display-container,
.bottom-container {
    background-color: whitesmoke;
}

.display-container {
    justify-content: flex-end;
    font-weight: bold;
    font-size: 60px;
    padding: 0 10px 0;
}

.bottom-container {
    justify-content: center;
    align-items: center;
    height: 70%;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    gap: 5px;
}