body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container,
.display-container,
.buttons-container {
    display: flex;
}

.calculator-container {
    justify-content: space-around;
    align-items: stretch;
    flex-direction: column;
    border: solid 1px black;
    height: 75vh;
    width: 1000px;
}

.display-container,
.buttons-container {
    background-color: whitesmoke;
}

.display-container {
    justify-content: flex-end;
    font-weight: bold;
    font-size: larger;
    padding: 0 10px 0;
}

.buttons-container {
    justify-content: center;
}